<h3>Update Ticket</h3>
<div  style="width: 400px;">
  <form (ngSubmit)="updateTicket(ticket.id,ticket)">
      <div class="form-group">
          <label for="name">Passenger id</label>
          <input type="number" class="form-control" id="id" required [(ngModel)]="ticket.id" name="id">
        </div>
    <div class="form-group">
      <label for="name">Passenger Name</label>
      <input type="text" class="form-control" id="passengerName" required [(ngModel)]="ticket.passengerName" name="passengerName">
    </div>

    <div class="form-group">
      <label for="name">Date of ticket Booking</label>
      <input required type="datetime" class="form-control" id="bookingDate" required [(ngModel)]="ticket.bookingDate" name="bookingDate">
    </div>

    <div class="form-group">
      <label for="name">Source Station</label>
      <input type="text" class="form-control" id="sourceStation" required [(ngModel)]="ticket.sourceStation" name="sourceStation">
    </div>

    <div class="form-group">
      <label for="name">Destination Station</label>
      <input type="text" class="form-control" id="destStation" required [(ngModel)]="ticket.destStation" name="destStation">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="ticket.emailId" name="emailId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button><br><br>
   <button (click)="list()" class="btn btn-primary" style="margin-right: 10px;">Back to Ticket List</button>
  </form>
</div>

